:root{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin:   50px; 
}
h1{
    font-size: 40px;
}
.head{
    margin-bottom: 40px;
}
img{
    border-radius: 4px;
}
   p{
    color: rgb(144, 144, 144);
    line-height: 30px;
}
.content-prime{
   display: flex;
}
.content-left{
    width: 40%;
    margin-right: 20px;

}
.content-left img{
    width: 100%;

}
h3{
   font-size: 30px;
}

.content-right{
    padding-bottom: 20px;
    display: flex;
    border-bottom: 3px dotted rgb(255, 98, 0);
    margin-bottom: 20px;
}
.content-right img{
    height: 100px;
    width: 100px;
    margin-right: 20px;
}
.content-right-final img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}
.content-right-final{
    padding-bottom: 20px;
    display: flex;
    margin-bottom: 20px;
}